@media (max-width: 768px) {
  .column {
    width: 100%;
    height: 100vh;
  }
}

@media (min-width: 769px) {
  .column {
    width: 768px;
    height: 100vh;
    margin: 0 auto;
  }
}

.header {
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-primary-text);

  padding-top: 8px;
  padding-left: 16px;
  padding-right: 8px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tabSelected {
  padding: 4px 8px;
  border-radius: 4px 4px 0px 0px;
  font-size: 12px;

  /*specific to tabSelected*/
  background-color: var(--color-menu);
  color: var(--color-primary-text);
  padding-bottom: 8px;
  border: 1px solid var(--color-primary-text);
  border-bottom: none;
}

.tab {
  padding: 4px 8px;
  border-radius: 4px 4px 0px 0px;
  font-size: 12px;

  /*specific to tab (UnSelected)*/
  background-color: var(--color-surface);
  color: var(--color-disabled-text);
}

.tabs {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  top: 1px;
  width: fit-content;
}

.backward img {
  margin-bottom: 4px;
}
