@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flickering {
  animation: flicker 1s infinite;
}

.output {
  padding: 4px;
  background-color: var(--color-surface);
  color: var(--color-secondary-text);
}

.output code {
  font-size: 12px;
}
