.filenode {
  display: flex;
  gap: 4px;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
}

.filenode.updated {
  background-color: #748d2e;
}

.nodename {
  width: fit-content;
  white-space: nowrap;
  font-size: 13px;
}

.filenode > .currentdirectory {
  color: #a1a1a1;
}

.treeheader {
  display: flex;
  padding: 5px 8px;
  justify-content: end;
  background-color: var(--color-menu);
}

.treeheader.folded {
  background-color: var(--color-sourcecode-menu-unfocused);
}

.treeheader.expanded {
  background-color: var(--color-menu);
}

.treeheader > .projectdir {
  background-color: var(--color-primary-text);
  font-size: 12px;
}
