.pane {
  width: fit-content;
  max-width: 300px;
  height: 100svh;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-menu);
}

.header.folded {
  background-color: var(--color-sourcecode-menu-unfocused);
  padding: 5px 4px;
}

.header.expanded {
  background-color: var(--color-menu);
  padding: 5px 8px;
}

.tree {
  flex-grow: 1;
}

.filenode {
  display: flex;
  gap: 4px;
  color: white;
  padding: 3px 8px;
}

.filenode:hover {
  background-color: #748d2e;
}

.filenode.updated {
  background-color: #748d2e;
}

.nodename {
  width: fit-content;
  white-space: nowrap;
  font-size: 13px;
}

.currentdirectory {
  color: #a1a1a1;
}

.projectdir {
  color: var(--color-primary-text);
  font-size: 12px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #252526; /* or add it to the track */
}
.scroll ::-webkit-scrollbar-thumb {
  background: #37373d;
  border-radius: 8px;
}
.scroll::-webkit-scrollbar-corner {
  background-color: #252526;
}
