/* 
   Josh Comeau's CSS reset 
   https://www.joshwcomeau.com/css/custom-css-reset/

   However, 8 is commented out as I couldn't understand how that would work.
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  5.1 My original 
*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
/* #root, #__next {
  isolation: isolate;
} */

body {
  height: 100svh;
}

a {
  text-decoration: none;
  color: inherit;
}

/* https://qiita.com/nabettu/items/1593af04e48444c45c53 */

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
