.component {
  /* grid */
  display: grid;
  grid-template-columns:
    auto /*logo*/
    1fr; /*search input*/

  column-gap: 20px;
  align-items: center;

  /* grid children's grid settings */
  > .search {
    display: grid;
    justify-items: end;
  }

  /* other header settings */
  padding-left: 30px;
  padding-right: 30px;

  color: white;
  background-color: rgb(182, 182, 182);
}

.button {
  text-align: start;

  color: grey;
  background-color: white;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;

  width: 10rem;
}

.popover {
  top: 5rem;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;

  padding-top: 4px;
  padding-bottom: 4px;
}
