.component {
  display: grid;
  justify-items: end;
}

.button {
  text-align: start;

  color: grey;
  background-color: white;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;

  width: 10rem;
}

.popover {
  top: 5rem;
  margin: 0 auto;

  border-style: none;
  background-color: rgb(182, 182, 182);
}

.popover::backdrop {
  background: rgb(190 190 190 / 50%);
}

.input {
  border-style: none;
  outline-style: none;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;

  width: 30rem;
}

.item {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
