.results {
  padding-left: 30px;
  padding-right: 30px;

  display: grid;
  grid-template-rows: repeat(auto-fil, auto);
  grid-template-columns: auto 1fr;
  row-gap: 10px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.item {
  border: solid 1px rgb(182, 182, 182);
  padding: 8px;

  /* occupy the full width of the grid, to use subgrid */
  grid-column: 1/-1;

  display: grid;
  /* subgrid to layout each column in the same width*/
  grid-template-columns: subgrid;
  column-gap: 10px;
}
